body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
}

/* The navigation bar */
nav {
    height: 69px;
    border-bottom: 1px solid seashell;
    /* position: fixed; /* Set the navbar to fixed position */
    /* top: 0; /* Position the navbar at the top of the page */ 
    width: 100%; /* Full width */
    display: flex;
    justify-content: space-between;
}

nav a {
    color: seashell;
    margin-right: 20px; /* add space between the links */
}

ul {
    list-style-type: none;
    display: inline-flex;
}

nav a:hover { /* Change background on mouse-over */
    color: greenyellow;
}

nav a:active {
    color: darkgreen;
}

.logo-img {
    margin-left: 10px;
    margin-top: 9.5px;
    margin-bottom: 9.5px;
    height: 50px;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
    opacity: 0.9;
}

/* Section 1 - Mission */
.mission {
    display: flex; 
    align-items: center;
}

.mission-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 700px;
    width: 1200px;
}

.mission-text {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    text-align: center;
}

/* Section 2 - Featured Tea */
.featured-tea {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    border: 1px solid orange;
}

.featured-tea-title {
    text-align: center;
    border: 1px solid yellow;
}

.featured-tea-container {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-tea-container figure {
    flex: 1 1 30%; /* Make each figure take up about 30% of the container width */
    margin: 10px; /* Add margin between figures */
    max-width: 300px; /* Ensure the figures don't grow too large */
    text-align: center;
}

.featured-tea-img {
    width: 100%; /* Make the images take up the full width of the figure */
    height: auto; /* Maintain aspect ratio */
}

figure figcaption {
    margin-top: 10px; /* Add space between the image and the caption */
}

figure figcaption h4 {
    margin: 0; /* remove default margin */
}